<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @moderation.user %>
</p>

<p>
  <b>Type:</b>
  <%= @moderation.type %>
</p>

<p>
  <b>Length:</b>
  <%= @moderation.length %>
</p>

<p>
  <b>Reason:</b>
  <%= @moderation.reason %>
</p>


<%= link_to 'Edit', edit_moderation_path(@moderation) %> |
<%= link_to 'Back', moderations_path %>
