<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Country:</b>
  <%= @team.country %>
</p>

<p>
  <b>Website:</b>
  <%= @team.website %>
</p>

<p>
  <b>User:</b>
  <%= @team.user %>
</p>

<p>
  <b>Comments:</b>
  <%- @team.comments.each do |comment| %>
    <br />
    <b><%= comment.user.login %> said: </b>
    <br />
    <%= comment.description %>
  <% end %>
</p>

<p>
  <%= render :partial => "comments/form" %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
