<p id="notice"><%= notice %></p>
<%= link_to_if current_admin, 'Edit', edit_team_path(@team) %>
<p>
  <b>Name:</b>
  <%= @team.name %>
</p>
<p>
  <b>Short Name:</b>
  <%= @team.short_name %>
</p>
<p>
  <b>Photo:</b>
  <%= image_tag(@team.photo.url(:normal)) if @team.photo.exists?  %>
</p>
<p>
  <b>Country:</b>
  <%= @team.country %>
</p>
<p>
  <b>Website:</b>
  <%= @team.website %>
</p>
<p>
  <b>Coach:</b>
  <%= @team.user %>
</p>
<p>
  <b>Bio:</b>
  <%= @team.description %>
</p>

<h3>Comments:</h3>
<%= render  @team.comments.order('id desc') %>
<% if @team.comments.size > 0 %>
  <%= render :partial => "comments/comment_footer" %>
<% end %>

<p>
  <%= render :partial => "comments/form" %>
</p>
