<div id="newsmain"><br/>

  <p id="notice"><%= notice %></p>
  <% if can? :edit, @team %><%= link_to 'Edit', edit_team_path(@team) %><% end %>

  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="240" valign="top">  <%= image_tag(@team.photo.url(:normal)) if @team.photo.exists?  %></td>
      <td valign="top"><span class="votenowtxt style1"><span class="votenowtxt  style3"><%= image_tag @team.country.flag %>  <%= @team.name %> </span></span> <br/>
        <% if @team.user %><img src="/css/images/content-bar/live/star2.gif" alt="" width="12" height="12" /><em> Coached by <%= link_to @team.user, profile_path(@team.user.login) %></em><br/><% end %>
        <p>Official website: <%= link_to @team.website, @team.website %><br/>
          <br/>
          <%= link_to "Browse #{@team.short_name} replays.", replays_path(:team_id => @team.id) %></p>
        <% @team.players.each do |player| %>
          <%= image_tag player.user.country.flag if player.user.country %>
          <%= image_tag race_icon_url(player.user.race), :align => "top", :width => 21, :height => 13, :hspace => 4, :vspace => 3 %>
          <%= link_to player, profile_path(player.login) %>
        <br />
        <% end %>

      </td>
    </tr>
  </table>

  <blockquote>
    <span class="ntitle ntitle style7"><strong>Bio:</strong> <%= @team.description %> <br/>
    </span><br/>
    <span class="votenowtimeleft ntitle style7"></span>
    <span class="votenowtimeleft">
      <strong><%= @team.short_name %> History: </strong> <br/>
      <br/>
      <% @team.events.sort_by{|t| t[0]}.reverse[0..4].each do |event| %>
        <strong><%= american_date event[0] %></strong>&nbsp;<%=raw describe_team_event(event) %><br />
      <% end %>
    </span>
  </blockquote>
  <div id="historic" class="ddpanel">
    <div id="historiccontent" class="ddpanelcontent">
      <br/>
      <blockquote>  
        <% @team.events.sort_by{|t| t[0]}.reverse[5..25].to_a.each do |event| %>
          <strong><%= american_date event[0] %></strong>&nbsp;<%=raw describe_team_event(event) %><br />
        <% end %>
      </blockquote>
    </div>
    <div id="historictab" class="ddpaneltab">
      <a href="#"><span>SHOW MORE </span></a>				</div>
  </div>
  <div align="right">
    <script type="text/javascript">

      var testpanel=new ddpanel({
        ids: ["historic", "historiccontent", "historictab"], // id of main panel DIV, content DIV, and tab DIV
        stateconfig: {initial: "5px", persiststate: true}, // initial: initial reveal amount in pixels (ie: 5px)
        animate: {enabled: true, steps: 5}, //steps: number of animation steps. Int between 1-20. Smaller=faster.
        pointerimage: {enabled: true, src: ["/css/images/arrow-down.gif", "/css/images/arrow-up.gif"]},
        closepanelonclick: {enabled: true} // close panel when links or elements with CSS class="closepanel" within container is clicked on?
      })

    </script>
  </div>
  <h3>Comments:</h3>
  <%= render  @team.comments %>
  <% if @team.comments.size > 0 %>
    <%= render :partial => "comments/comment_footer" %>
  <% end %>

  <p>
    <%= render :partial => "comments/form" %>
  </p>

</div>