<p id="notice"><%= notice %></p>
<%=  grayscale_banner_link(@season.banner, season_path(@season)) %>
<p>
  <b>Name:</b>
  <%= @season.name %>
</p>
Teams:<br />
<% @season.teams.each do |team| %>
<%= link_to team.name, team_path(team.slug) %><br />
<% end %>
<br />
Maps:<br />
<% @season.maps.each do |map| %>
<%= link_to map.name, map_path(map) %><br />
<% end %>

<h1>Listing matches</h1>

<table>
  <tr>
    <th>Team0</th>
    <th>Team1</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% week = 1 %>
  <tr>
    <td colspan="6"><b>Week 0</b></td>
  </tr>
<% @season.matches.order("weeks_id asc").each do |match| %>
  <% if week != match.weeks_id %>
  <tr>
    <td colspan="6"><b>Week <%= match.weeks_id %></b></td>
  </tr>
  <% week = match.weeks_id.to_i %>
  <% end %>
  <tr>
    <td><%= match.team0.short_name %></td>
    <td><%= match.team1.short_name %></td>
    <td><%= match.scheduled_at %></td>

    <td><%= link_to 'Show', match %></td>
    <td><% if can? :edit, match %><%= link_to 'Edit', edit_match_path(match) %><% end  %></td>
    <td><% if can? :destroy, match %><%= link_to 'Destroy', match, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Match %><%= link_to 'New Match', new_match_path(:season_id => @season.id) %><% end %>


<% if can? :edit, @season %><%= link_to 'Edit', edit_season_path(@season) %> |<% end %>
<%= link_to 'Back', seasons_path %>
