<p id="notice"><%= notice %></p>
<div id="newsmain">

  <div class="newscontent">
    <br />
    <%=  grayscale_banner_link(@season.banner, season_path(@season)) %>
    <br />
								Current status : <span class="style1"><%= @season.describe_status %></span><br />
    <br />

    <div class="season_tabs">
      <div id="tabs" style="float:left;">
        <ul>
          <li><a href="#rankings">Rankings</a></li>
          <li><a href="#week1" >Round 1</a></li>
          <li><a href="#week2" >Round 2</a></li>
          <li><a href="#week3" >Round 3</a></li>
          <li><a href="#week4" >Round 4</a></li>
          <li><a href="#week5" >Round 5</a></li>
          <li><a href="#week6" >Round 6</a></li>
          <li><a href="#week7" >Round 7</a></li>
          <li><a href="#playoff" >Playoffs</a></li>
        </ul>





        <div id="rankings">
          <div style="border:none; width:521px;margin: 0px auto;">
            <div id="ranking-content" style="border:1px solid gray;float: left; ">

              <div id="ranking-ligne-titre">

                <div class="ranking-ligne-titre-id">#</div>

                <div class="ranking-ligne-titre-name">Name</div>

                <div class="ranking-ligne-titre-points">Points</div>

                <div class="ranking-ligne-titre-win">GW</div>

                <div class="ranking-ligne-titre-loose">GL</div>

                <div class="ranking-ligne-titre-mw">Wins</div>

                <div class="ranking-ligne-titre-ml">Losses</div>

              </div>

              <% @season.teams.sort_by{|t| -@season.points(t)}.each_with_index do |team, i| %>
                <div class="ranking-ligne" style="background-color : <%= cycle("#FFFFFF", "#E7E2E2") %>;">

                  <div class="ranking-ligne-id"><%= i + 1 %>.</div>

                  <div class="ranking-ligne-name"><%= image_tag team.country.flag %><%= link_to team, team_path(team.slug) %></div>

                  <div class="ranking-ligne-points"><%= @season.points(team) %> pts</div>

                  <div class="ranking-ligne-win"><%= @season.game_wins(team) %></div>

                  <div class="ranking-ligne-loose"><%= @season.game_losses(team) %></div>

                  <div class="ranking-ligne-mw"><%= @season.wins(team) %></div>

                  <div class="ranking-ligne-ml"><%= @season.losses(team) %></div>

                </div>
              <% end %>
            </div>
          </div>
        </div>

        <%  @season.regular_matches.group_by(&:weeks_id).each do |week| %>
          <div id="week<%= week[0] -%>">

            <table width="500" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto;">
              <% week[1].each do |match| %>
                <tr style="height: 150px;">
                  <td width="100" class="center_text"><%= link_to(image_tag(match.team0.photo.url(:normal)), team_path(match.team0.slug)  ) %><br /><%= link_to match.team0.name, team_path(match.team0.slug) %></td>
                  <td width="300" align="center">
                    <font class="scoreseason">[<%= match.team0_wins %> - <%= match.team1_wins %>]</font><br />
                    <%= link_to "<font class='sresultm'>MATCH SHEET</font>".html_safe, match_path(match) %>
                  </td>
                  <td width="100" class="center_text"><%= link_to(image_tag(match.team1.photo.url(:normal)), team_path(match.team1.slug)  ) %><br /><%= link_to match.team1.name, team_path(match.team1.slug) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        <% end %>

        <div id="playoff">
          <%  if @season.playoff_matches.size > 0 %>
            <div style="float:left;width: 100%;">

              <% rounds = ((Math.log([@season.playoff_matches.size,2.0].max.to_f))/(Math.log(2.0))).ceil %>
              <% current_round = 0 %>
              <% while current_round < rounds %>
                <div style="width:250px;float:left;">
                  <div style="width:250px; height: 40px;float: left;"><span class="potitle"><strong><%= describe_round(current_round, rounds) %> </strong></span><br><span class="postitle"> </span></div>
                  <div style="height:<%= 30 * (2 ** current_round - 1) / 2.0 %>px;width:100%;float:left;">&nbsp;</div>
                  <% (2 ** (rounds - current_round - 1)).times do |i| %>
                    <% match = @season.playoff_matches.where(:playoff_id => (2 ** (rounds - current_round -1)) + (i) - 1).first %>
                    <% if match %>
                      <div style="float:left;width:250px;">
                        <a href="<%= match_path(match) %>">
                          <div style="border-bottom: thin solid black;float:left;width:100%;height:30px;position:relative;"><div style="position: absolute; bottom: 0; left: 0;padding-left:5px;"><span class="<%= (match.results.to_i > 0 ? "bold" : "normal")  %> poteam"> <%= (image_tag match.team0.country.flag) if match.team0 %><%= match.team0 || "TBD" %></span> </div></div>
                          <div style="height:<%= 30 * (2 ** current_round - 1) %>px;width:100%;float:left;border-right:solid thin black;"></div>
                          <div style="border-bottom: thin solid black;border-right: thin solid black;float:left;width:100%;height:30px;position:relative;"><div style="position: absolute; bottom: 0; left: 0;padding-left:5px;"><span class="<%= (match.results.to_i < 0 ? "bold" : "normal")   %> "><%= (image_tag match.team1.country.flag) if match.team1 %> <%= match.team1 || "TBD" %></span></div></div>
                          <div style="height:<%= 30 * (2 ** current_round - 1) %>px;width:100%;float:left;"></div>
                        </a>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <% current_round += 1 %>
              <% end %>
              <div style="width:250px; height: 40px;float: left;"><span class="potitle"><strong>SC2SL Champion</strong></span><br><span class="postitle"> </span></div><br />
              <div style="width:250px;float:left;">
                <div style="height:<%= 30 * (2 ** current_round - 1) / 2.0 %>px;width:100%;float:left;">&nbsp;</div>
                <% champion = @season.playoff_matches.where(:playoff_id => 0).first.winner if (@season.playoff_matches.where(:playoff_id => 0).first) %>
                <div style="border-bottom: thin solid black;float:left;width:100%;height:30px;position:relative;"><div style="position: absolute; bottom: 0; left: 0;padding-left:5px;"><span class="bold"><%= (image_tag champion.country.flag) if champion %>  <%=  link_to(champion, team_path(champion.slug)) if champion  %></span> </div></div>
              </div>
            </div>
			<div style="float: left;width: 100%; height: 35px;">&nbsp;</div>
            <div style="float: left;">
              <% match = @season.playoff_matches.where(:playoff_id => (2 ** (rounds)) - 1).first %>
              <% if match %>
                <div style="float:left;width:250px;margin-top: 0px;">
                  <div style="width:250px; height: 40px;float: left;"><span class="potitle"><strong>Consolation Final </strong></span><br><span class="postitle">  </span></div>
                  <a href="<%= match_path(match) %>">
                    <div style="border-bottom: thin solid black;float:left;width:100%;height:30px;position:relative;"><div style="position: absolute; bottom: 0; left: 0;padding-left:5px;"><span class="<%= (match.results.to_i > 0 ? "bold" : "normal")  %> "> <%= (image_tag match.team0.country.flag) if match.team0 %><%= match.team0 || "TBD" %></span> </div></div>
                    <div style="height:<%= 30 * (2 ** 0 - 1) %>px;width:100%;float:left;border-right:solid thin black;"></div>
                    <div style="border-bottom: thin solid black;border-right: thin solid black;float:left;width:100%;height:30px;position:relative;"><div style="position: absolute; bottom: 0; left: 0;padding-left:5px;"><span class="<%= (match.results.to_i < 0 ? "bold" : "normal")   %> "><%= (image_tag match.team1.country.flag) if match.team1 %><%= match.team1 || "TBD" %></span></div></div>
                    <div style="height:<%= 30 * (2 ** 0 - 1) %>px;width:100%;float:left;"></div>
                  </a>
                </div>
				<div style="width:250px; height: 40px;float: left;"><span class="potitle"><strong>Consolation Winner</strong></span><br><span class="postitle"> </span></div><br />
				<div style="width:250px;float:left;">
                  <div style="height:15px;width:100%;float:left;">&nbsp;</div>
                  <div style="border-bottom: thin solid black;float:left;width:100%;height:30px;position:relative;"><div style="position: absolute; bottom: 0; left: 0;padding-left:5px;"><span class="bold"> <%= image_tag match.winner.country.flag if match.winner %>  <%=  link_to(match.winner, team_path(match.winner.slug)) if match.winner  %></span> </div></div>
              </div>
              <% end %>
            </div>
          <% else %>
            Playoffs Not yet Determined
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("#tabs").tabs();
    $("#tabs > div").addClass('clearfix');
  });
</script>


<% if can? :edit, @season %><%= link_to 'Edit', edit_season_path(@season) %><% end %>
<% if can? :destroy, @season %><%= link_to 'Delete', season_path(@season), :method => :delete, :confirm => "Are you sure you wish to destroy this season and all matches asssociated with it?" %><% end %>
