<tr class="forum <%= cycle("odd", "even") %>">
    <td>
      <%= link_to forum.title, forum_path(forum), :class => "title" %>
      <div class='description'><%= forum.description %></div>
      Last Comment
      <span class='last_comment'>
          <% if last_comment = forum.last_visible_comment -%>
            <%= link_to(last_comment.topic, forum_topic_path(forum, last_comment.topic)) -%> <%= t('by') %> <%= last_comment.user %> <%= t('time_ago_in_words', :time => time_ago_in_words(last_comment.created_at)) -%>
          <% else %>
            none
          <% end %>
        </span>
    </td>
    <td class="topics-count"><%= forum.topics.count %></td>
    <td class="comments-count"><%= forum.comments.count %></td>
    <td class="views-count"><%= forum.topics.sum(:views) %></td>
  </tr>