<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if (Time.now >= @vote_event.started_at and Time.now <= @vote_event.ended_at) %>
<meta http-equiv="refresh" content="15" >
<% end %>
<title>SC2SL Live Voting</title>
<style type="text/css">
body {
	background-color: #1b3652;
}
.score {
	font-weight: bold;
}
.score {
	font-size: 24px;
}
.score {
	font-size: 36px;
}
.score {
	color: #FFF;
}
.score {
	font-family: Arial, Helvetica, sans-serif;
}
.timer {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
.timer2 {
	font-weight: normal;
}
.player {
	color: #FFF;
	font-size: x-large;
}
.player {
	font-weight: bold;
}
.pour {
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
}
</style>
</head>

<body>
<table width="565" border="0" align="center">
  <tr>
    <td><p><img src="/images/live_vote/banner.png" width="565" height="221" /></p></td>
  </tr>
  <tr>
    <td width="565" height="485" BACKGROUND="/images/live_vote/votelive.png"><table width="565" border="0">
      <tr align="center" valign="middle">
        <td height="116" colspan="2" align="center" valign="middle">
		<%= image_tag(@vote_event.match.team0.photo.url(:normal), :width => 100, :height => 100) if @vote_event.match.team0 and @vote_event.match.team0.photo.exists?  %>
		<span class="score"><%= @vote_event.match.team0_wins.to_s + " - " + @vote_event.match.team1_wins.to_s %> </span>
		<%= image_tag(@vote_event.match.team1.photo.url(:normal), :width => 100, :height => 100) if @vote_event.match.team1 and @vote_event.match.team1.photo.exists?  %>
		</td>
      </tr>
      <tr>
        <td width="36" height="120" valign="top"><p>&nbsp;</p></td>
        <td width="519" valign="top">
			<% total_votes = [@vote_event.votes.count,1].max %>
			<% @vote_event.players.each do |player| %>
			  <% player_votes = @vote_event.votes.where(:player_id => player.id).count %>
			  <p>
				<%= flag_icon player.user.country.flag %>
				<%= image_tag(race_icon_url(player.user.race)) %>
				<strong class="player"><%= player.login %></strong>
				<br />
				<img src="/images/live_vote/votebar.png" alt="" width ="<%=( 200.0 * player_votes.to_f / total_votes.to_f).to_i %>" height="27" align="absmiddle" /> <span class="pour"><%= sprintf('%.1f', 100.0 * player_votes.to_f / total_votes.to_f) %>%</span>
			  </p>
			<% end %>
		
        </td>
      </tr>
      <tr>
		<td height="86" colspan="2" align="center" valign="middle" class="timer"><span id="countbox1" class="votenowtimeleft timer"></span><span class="timer2"> LEFT</span></td>
      </tr>
    </table></td>
  </tr>
</table>

<script type="text/javascript">
  //######################################################################################
  // Author: ricocheting.com
  // Version: v2.0
  // Date: 2011-03-31
  // Description: displays the amount of time until the "dateFuture" entered below.

  // NOTE: the month entered must be one less than current month. ie; 0=January, 11=December
  // NOTE: the hour is in 24 hour format. 0=12am, 15=3pm etc
  // format: dateFuture1 = new Date(year,month-1,day,hour,min,sec)
  // example: dateFuture1 = new Date(2003,03,26,14,15,00) = April 26, 2003 - 2:15:00 pm

  // TESTING: comment out the line below to print out the "dateFuture" for testing purposes
  //document.write(dateFuture +"<br />");


  //###################################
  //nothing beyond this point
  function GetCount(ddate,iid, sdate){

    amount = ddate- sdate;	//calc milliseconds between dates

    // if time is already past
    if(amount < 0){
      document.getElementById(iid).parentNode.innerHTML="Voting is Over!";
    }
    // else date is still good
    else{
      days=0;hours=0;mins=0;secs=0;out="";

      amount = Math.floor(amount/1000);//kill the "milliseconds" so just secs

      days=Math.floor(amount/86400);//days
      amount=amount%86400;

      hours=Math.floor(amount/3600);//hours
      amount=amount%3600;

      mins=Math.floor(amount/60);//minutes
      amount=amount%60;

      secs=Math.floor(amount);//seconds

      if(days != 0){out += days +" "+((days==1)?"day":"days")+" ";}
      if(hours != 0){out += hours +" "+((hours==1)?"hour":"hours")+" ";}
      out += mins+((mins==1)?" : ":" : ");
      out += secs +" "+((secs==1)?"":"")+" ";
      out = out.substr(0,out.length-2);
      document.getElementById(iid).innerHTML=out;

      setTimeout(function(){GetCount(ddate,iid, sdate + 1000)}, 1000);
    }
  }
<% v = @vote_event %>
    <% end_date = v.ended_at.in_time_zone  %>
    <% date_now = Time.now.in_time_zone %>
    dateNow1 = new Date(<%= date_now.year  %>,<%= date_now.month - 1  %>,<%= date_now.day   %>,<%= date_now.hour   %>,<%= date_now.min   %>,<%= date_now.sec   %>);
    dateFuture1 = new Date(<%= end_date.year  %>,<%= end_date.month - 1  %>,<%= end_date.day   %>,<%= end_date.hour   %>,<%= end_date.min   %>,<%= end_date.sec   %>);

    window.onload=function(){
      GetCount(dateFuture1.getTime(), 'countbox1', dateNow1.getTime());
      //you can add additional countdowns here (just make sure you create dateFuture2 and countbox2 etc for each)
    };
</script>



</body>
</html>




