<html>
<head>
<meta http-equiv="refresh" content="15" >

</head>
<body>
<table>
  <tr><td>Match</td><td><%=  @vote_event.match.title %></td></tr>
  <tr><td>Team</td><td><%=  @vote_event.team.name %></td></tr>
</table>

<strong>Current Votes</strong><br />
<% total_votes = [@vote_event.votes.count,1].max %>
<% @vote_event.players.each do |player| %>
	<% player_votes = @vote_event.votes.where(:player_id => player.id).count %>
	<%= player.login %>:  <%= sprintf('%.2f', 100.0 * player_votes.to_f / total_votes.to_f) %>%<br />
	<div style="background-color: blue; height: 5px;width: <%= ( 180.0 * player_votes.to_f / total_votes.to_f).to_i %>px">&nbsp;</div>
<% end %>
<br />

<% if Time.now > @vote_event.started_at and Time.now < @vote_event.ended_at %>
    Keep voting!
<% else %>
  Voting has ended. 
<% end %>
</body>

</html>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="refresh" content="15" >
<title>SC2SL Live Voting</title>
<style type="text/css">
body {
	background-color: #1b3652;
}
.score {
	font-weight: bold;
}
.score {
	font-size: 24px;
}
.score {
	font-size: 36px;
}
.score {
	color: #FFF;
}
.score {
	font-family: Arial, Helvetica, sans-serif;
}
.timer {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
}
.timer2 {
	font-weight: normal;
}
.player {
	color: #FFF;
	font-size: x-large;
}
.player {
	font-weight: bold;
}
.pour {
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
}
</style>
</head>

<body>
<table width="565" border="0" align="center">
  <tr>
    <td><p><img src="banner.png" width="565" height="221" /></p></td>
  </tr>
  <tr>
    <td width="565" height="485" BACKGROUND="votelive.png"><table width="565" border="0">
      <tr align="center" valign="middle">
        <td height="116" colspan="2" align="center" valign="middle">
		<img src="normal_esc.png" width="100" height="100" /><span class="score">3 - 0 </span><img src="normal_AI.png" width="100" height="100" />
		<%= image_tag(@vote_event.match.team0.photo.url(:normal), :hspace => 10, :align => "middle") if @vote_event.match.team0 and @vote_event.match.team0.photo.exists?  %>
		<span class="score"><%= @vote_event.match.team0_wins.to_s + " - " + @vote_event.match.team1_wins.to_s %> </span>
		</td>
      </tr>
      <tr>
        <td width="36" height="120" valign="top"><p>&nbsp;</p></td>
        <td width="519" valign="top"><p><img alt="De" src="http://sc2sl.com/css/images/flags/de.png?1329417829" /> <img alt="Rouge" height="11" src="http://sc2sl.com/css/images/races/rouge.jpg?1329417829" width="16" /> <strong class="player">GoOdy  </strong><br/><img src="votebar.png" alt="" width="140" height="27" align="absmiddle" /> <span class="pour">70%</span></p>
<p> <img alt="Se" src="http://sc2sl.com/css/images/flags/se.png?1329417829" /> <img alt="Jaune" height="11" src="http://sc2sl.com/css/images/races/jaune.jpg?1329417829" width="16" /> <span class="player"><strong>Vipro</strong> <br/></span><img src="votebar.png" alt="" width="40" height="27" align="absmiddle" /> <span class="pour">20%</span></p>
          <p class="player"> <img alt="De" src="http://sc2sl.com/css/images/flags/de.png?1329417829" /> <img alt="Jaune" height="11" src="http://sc2sl.com/css/images/races/jaune.jpg?1329417829" width="16" /> Jaxx <br/><img src="votebar.png" alt="" width="20" height="27" align="absmiddle" /> <span class="pour">10%</span></p></td>
      </tr>
      <tr>
        <td height="86" colspan="2" align="center" valign="middle" class="timer">1 : 30 <span class="timer2">LEFT</span></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>




