<html>
<head>
<% unless @vote.new_record? %>
<meta http-equiv="refresh" content="30" >
<% end %>

</head>
<body>
<% unless @vote.new_record? %>
    <% cache('vote_events_show') do %>
        <table>
          <tr><td>Match</td><td><%=  @vote_event.match.title %></td></tr>
          <tr><td>Team</td><td><%=  @vote_event.team.name %></td></tr>
        </table>

        <strong>Current Votes</strong><br />
        <% total_votes = [@vote_event.votes.count,1].max %>
        <% @vote_event.players.each do |player| %>
            <% player_votes = @vote_event.votes.where(:player_id => player.id).count %>
            <%= player.login %>: <% if current_admin %><%= player_votes %><% end %> <%= sprintf('%.2f', 100.0 * player_votes.to_f / total_votes.to_f) %>%<br />
            <div style="background-color: blue; height: 5px;width: <%= ( 180.0 * player_votes.to_f / total_votes.to_f).to_i %>px">&nbsp;</div>
        <% end %>
        <br />
    <% end %>
<% end %>

<% if Time.now > @vote_event.started_at and Time.now < @vote_event.ended_at %>
    <%= render :partial => 'votes/form' %>
<% else %>
  Voting has ended. 
<% end %>
<br />
<small>Page refreshes every 30 seconds automatically.</small>
</body>

</html>