<table>
  <tr><td>Match</td><td><%=  @vote_event.match.title %></td></tr>
  <tr><td>Team</td><td><%=  @vote_event.team.name %></td></tr>
</table>

Current Votes
<% @vote_event.players.each do |player| %>
<%= player.login %>: <%= @vote_event.votes.where(:player_id => player.id).count %>
<% end %>
<br />
<%= render :partial => 'votes/form' %>
