<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Description</th>
    <th>User</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% current_month = nil %>
<% @articles.each do |article| %>
  <% unless current_month == article.created_at.month %>
  <tr>
    <td colspan="8"><h3><%= article.created_at.strftime("%B - %Y") %></h3></td>
  </tr>
  <% current_month = article.created_at.month %>
  <% end %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.summary %></td>
    <td><%= article.description %></td>
    <td><%= article.user.login %></td>
    <td><%= article.tags.collect{|t| t.name}.join(" ") %></td>
    <td><%= link_to 'Show', article %></td>
    <td><% if can? :update, article %><%= link_to 'Edit', edit_article_path(article) %><% end %></td>
    <td><% if can? :destroy, article %><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %><% end %> </td>
  </tr>
<% end %>
</table>

<br />
Page: <%=  paginate_links(@per_page, @current_page, @articles_count, request.path, params) %>


<% if can? :create, Article %>
<%= link_to 'New Article', new_article_path %>
<% end %>