<div id="newsmain"><br>



  <div class="newscontent">

    <div id="titrenews">
      <div style="float:left;">
        <%= @article.title %> <br />
        <div id="undertitle">
          <%= @article.formatted_time %> | <%= link_to @article.user.login, profile_path(@article.user.login) %><% if can? :edit, Article %> | <%= link_to 'edit', edit_admin_article_path(@article) %><% end %>
        </div>
      </div>
      <div id="titrecom">
        <div id="textcom"><a href="#comments"><%= @article.comments.count %></a></div>
        <a href="#newcomment"><%= image_tag("comment/add.png", :style => "margin-left: 3px;")%></a>
      </div>
    </div>
    <br />
    <br />
	<br />
      <%- r = /([^a-z0-9_]|^)@([a-z0-9_]+)/i %>
      <%= raw  auto_link(@article.description, :html => {:target => '_blank'}).gsub(r) {|m| "#{$1}<a href='http://twitter.com/#{$2}' target='_blank'>@#{$2}</a>#{$3}" }  %>
	  <br />&nbsp;
  </div>
  <div id="footernews" align="right">
    <script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'03241b11-6315-49ee-98d8-7b7d13dcc018'});</script>
    <!-- Place this tag in your head or just before your close body tag -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

    <!-- Place this tag where you want the +1 button to render -->
    <table border="0">
      <tr>
        <td valign="middle"><span  class='st_reddit' displayText='Reddit'></span></td>
        <td valign="middle"><span  class='st_twitter' displayText='Tweet'></span></td>
        <td valign="middle"><g:plusone size="small"></g:plusone></td>
      <td valign="top"><div class="fb-like" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div></td>
      </tr>
    </table>
    <span class="style7" style="color: #000000">
      <font style="text-transform:uppercase;font-size:10px;font-color:#333333">
        <%= @article.comments.count %>  comments | <%= link_to "Add a comment", "#newcomment" %></font>
      <br />
    </span>
    <br />

  </div>

  <b>Tags:</b>
  <%=raw tags_to_links(@article.tags) %>


  <h3>Comments: </h3>
  <span class="pagination" style="float: right"><%=  paginate_links(10, @current_page, @comments_count, request.path) %></span><br />
  <div id="comments">
    <%= render @comments %>
    <% if @comments.size > 0 %>
      <%= render :partial => "comments/comment_footer" %>
    <% end %>
  </div>
  <p>
    <%= render :partial => "comments/form" %>
  </p>

</div>