<div id="newsmain"><br>



  <div class="newscontent">

    <div id="titrenews">
      <div style="float:left;">
        <%= @article.title %> <br />
        <div id="undertitle">
          <%= @article.formatted_time %> | <%= link_to @article.user.login, profile_path(@article) %>
        </div>
      </div>
      <div id="titrecom">
        <div id="textcom"><a href="#comments"><%= @article.comments.count %> </a></div>
        <a href="#newcomment"><img src="/css/images/comment/add.png" alt="add a comment"></a>
      </div>
    </div>
    <br />
    <br />
    <p>
      <%- r = /([^a-z0-9_]|^)@([a-z0-9_]+)/i %>
      <%= raw  auto_link(simple_format(@article.description)).gsub(r) {|m| "#{$1}<a href='http://twitter.com/#{$2}'>@#{$2}</a>#{$3}" }  %>
    </p>
  </div>
  <div id="footernews" align="right">
    <a href="#"><img src="/css/images/comment/reddit.png" alt="add a comment"></a>
    <a href="#"><img src="/css/images/comment/fbook.png" alt="add a comment"></a>
    <a href="#"><img src="/css/images/comment/twitter.png" alt="add a comment"></a>
    <br>
    <span class="style7" style="color: #000000"><font style="text-transform:uppercase;font-size:10px;font-color:#333333"><%= @article.comments.count %>  comments | Add a comment</font><br>
							 PAGE 1 | 2 | 3</span>				    <br>

  </div>

  <b>Tags:</b>
  <%=raw tags_to_links(@article.tags) %>


<h3>Comments: </h3>
<div id="comments">
  <%= render @article.comments %>
  <% if @article.comments.count > 0 %>
  <%= render :partial => "comments/comment_footer" %>
  <% end %>
</div>
<p>
  <%= render :partial => "comments/form" %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

</div>