<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= link_to @article.title, named_article_path(:year => @article.created_at.year, :month => @article.created_at.month, :day => @article.created_at.day, :url => @article.url) %>
</p>

<p>
  <b>Published on:</b>
  <%= american_time(@article.created_at) %>
</p>

<p>
  <b>Last updated on:</b>
  <%= american_time(@article.updated_at) %>
</p>

<p>
  <b>Summary:</b>
  <%= @article.summary %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format @article.description %>
</p>

<p>
  <b>User:</b>
  <%= @article.user %>
</p>

<p>
  <b>Tags:</b>
  <%=raw tags_to_links(@article.tags) %>
</p>

<p>
  <b>Comments:</b>
  <%- @article.comments.each do |comment| %>
    <br />
    <b><%= comment.user.login %> said: </b>
    <br />
    <%= comment.description %>
  <% end %>
</p>

<p>
  <%= render :partial => "comments/form" %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
