<% if current_user and !current_user.banned? and @topic %>
  
  <div id="newcomment">
    <%= form_for [@forum, @topic] do |f| %>
      Title:
      <%= f.text_field :title %>
      <br />
      <div align="center">
      <%= f.fields_for :comments do |comment| %>
        <%= render :partial => "comments/simple_form", :locals => { :f => comment }%>
      <% end %>
      </div>
      <div class="actions" align="center">
        <%= f.submit %>
      </div><br/>
    <% end %>
  </div>
  <% elsif current_user and current_user.banned? %>
    <div align="center"><br/>You are currently banned and may not comment.<br/> <br/></div>
<% else %>
  <div align="center"><br/>You must <%= link_to "register", register_path %> or <%= link_to "login", login_path %> to comment.<br/> <br/></div>
<% end %>
