<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= image_tag @map.photo.url(:normal) %>
</p>

<p>
  <b>Name:</b>
  <%= @map.name %>
</p>

<p>
  <b>Description:</b>
  <%= @map.description %>
</p>


<% if can? :edit, @map %><%= link_to 'Edit', edit_map_path(@map) %> | <% end %>
<%= link_to 'Back', maps_path %>
