<br/>
<div id="rform" class="rform">
<h1>Join the SC2SL Community!</h1>
<p>The fields with a * are obligatory.</p>

<label>First Name *
<span class="small"></span>
</label>
<%= form.text_field :first_name, :class => "first_name_field" %>

<label>Last Name *
<span class="small"></span>
</label>
<%=  form.text_field :last_name, :class => "first_name_field" %>

<label>Email *
<span class="small">Add a valid address</span>
</label>
<% if form.object.new_record? or (current_user and current_user.is_admin?) %>
  <%=  form.text_field :email %>
<% else %>
  <%=  form.object.email %>
<% end  %>


  <label for="label">Website</label>
                </b><br />
				 <%= form.text_field :website, :class => "first_name_field" %>
				 
				 
<label>Password *
<span class="small">Min. size 6 chars</span>
</label>
<%= form.password_field :password %>

<label for="user_password_confirmation">Password confirmation *</label>
<%= form.password_field :password_confirmation %>

 <label for="user_bnet_name">Bnet ID</label>
   <%=  form.text_field :bnet_name, :class => "bnetid" %>
  
                . <label>Code <span class="small"> Ex: 805</span></label>
				<%= form.text_field :bent_code, :class => "rform2" %>
				
				<label for="user_country">Country
				<span class="small">Native country</span></label>
			<%=  form.select :country_id,Country.all.collect {|c| [c.name, c.id]},  { :prompt => true }, :class => "form-dd"%>
		
			<label for="user_birthdate"> Birthdate <span class="small">Year / Month / day</span></label>
		<%=  form.date_select :birthdate, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
		
		     <label for="user_bnet_name"></label>
                  <label for="user_race">Main race</label>
                  <%=  form.select :race, ["protoss", "zerg", "terran", "random"], {}, {:class => "rform-dd2"} %>

			  <label for="user_photo">Photo</label>
                
               <%= form.file_field :photo %> <div align="center">
				<%= image_tag form.object.avatar  %>
              	</div>
				
				     <label for="user_signature">Signature</label>
              <%=  form.text_field :signature, :class => "form-dd"  %>
				  
				           
    <b>
                  <label for="user_profile_text">Profile text</label>
     </b>
	 <%=  form.text_area :profile_text %>
    <br/>
	    <br/><div align="center">
				    <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6Ld39cUSAAAAAOjkAbM_lHcZuSBOgrki5KXOwi77&amp;error=expression"></script> 
<noscript> 
  <iframe src="http://www.google.com/recaptcha/api/noscript?k=6Ld39cUSAAAAAOjkAbM_lHcZuSBOgrki5KXOwi77" height="300" width="500" style="border:none;"></iframe><br/></noscript>
				
				<div align="center">
                  <noscript>
                  <textarea name="recaptcha_challenge_field" rows="4" cols="55"></textarea>
                  <input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>
                  </noscript>
				  
				  <% if current_super_admin %>
    <%= form.label :roles, :class => "rform-test" %><br />
    <% for role in User::ROLES %>
      <%= check_box_tag "user[roles][]", role, form.object.roles.include?(role) %>
      <%=h role.humanize %><br />
    <% end %>
    <%= hidden_field_tag "user[roles][]", "" %>
  <br />
<% end %>
<% unless form.object.new_record? %>
  <b><%= form.label :subscription, :class => "rform-test" %></b><br />
  <%=  form.check_box :subscription %>
<% end  %>
<br />
<br />
</div>
</div>
<br/><br/>
</form>
</div>