<h1>Register</h1>

<% form_for @user, :url => account_path, :multipart => true do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><div style="width:100%" />
  <% end %>
  <div id="user_form">
  <%= render :partial => "form", :object => f %>
    <%= recaptcha_tags %>
    <%= f.check_box :terms  %> By Clicking the box, you agree to our <%= link_to "Terms and Conditions", terms_path, "data-popup" => "menubar=0,resizable=1,width=600,height=800" %>.<br />
  <%= f.submit "Register" %>
  </div>
<% end %>