<div id="fullpage2">
				<div id="newsmain"><br>
<%= image_tag @user.avatar %>

<%= @user.login %>
<br />
<% if @user == current_user or current_admin %>
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>
<% end %>

<% if @user.banned? %>
<p>
  <b>Ban Type: </b><br />
  <%= @user.current_ban.mod_type %>
  <br />
  <b>Length: </b><br />
  <%= @user.current_ban.length %> days
  <br />
  <b>Ends: </b><br />
  <%= @user.current_ban.ends_at %>
  <br />

</p>
<% end %>

<p>
  <b>Country:</b>
  <% if @user.country  %>
  <%= @user.country %> <%= image_tag @user.country.flag %>
  <% end %>
</p>

<p>
  <b>Race: </b>
  <%= image_tag race_icon_url(@user.race), :alt => "protoss" %>
</p>
<% if @user == current_user %>

<%= link_to 'Update Information', edit_account_path %>
<% elsif current_user and current_user.is_admin? %>
<%= link_to "Update Information", edit_user_path(@user) %>
<% end %>

<h3>Comments:</h3>
  <%= render  @user.comments.order('id asc') %>
  <% if @user.comments.count > 0 %>
  <%= render :partial => "comments/comment_footer" %>
 <% end %>
<p>
  <%= render :partial => "comments/form" %>
</p>

</div>
</div>