<%= form_for(@vote_event) do |f| %>
  <% if @vote_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_event.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% @vote_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at %>
  </div>
<div class="field">
    <%= f.label :ended_at %><br />
    <%= f.datetime_select :ended_at %>
  </div>