<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stream.name %>
</p>

<p>
  <b>Url:</b>
  <%= @stream.url %>
</p>

<p>
  <b>Country:</b>
  <%= @stream.country %>
</p>

<p>
  <b>Description:</b>
  <%= @stream.description %>
</p>

<p>
  <b>User:</b>
  <%= @stream.user %>
</p>

<p>
  <b>Match:</b>
  <%= @stream.match %>
</p>


<%= link_to 'Edit', edit_stream_path(@stream) %> |
<%= link_to 'Back', streams_path %>
