<div id="newsmain">					
  <div class="newscontent">

    <div id="titrenews">
      <div id="titrecom">
        <a href="#newcomment"><img src="/css/images/comment/add.png" alt="add a comment"/></a>
      </div>
      <div id=textcom align=right>
        <a href="#comments">2</a>
      </div>
      (<%= @game.player0.user.race[0,1] %>) <%= link_to @game.player0.login, player_path(@game.player0.login) %> Vs. (<%= @game.player1.user.race[0,1] %>) <%= link_to @game.player1.user.login, player_path(@game.player1.login) %><br/>
      <div id="undertitle">
        March 25th, 2011 17:40
      </div>
    </div>

    <div align="center">
      <p><%= image_tag @game.map.photo.url(:normal), :border => "1" %>
        <br />	 <%= @game.map.name %> - <%= link_to "Match Sheet", match_path(@game.match) %>
        <br />
        <img src='/css/images/Replay/disk.jpg' align='top' /> <strong><%= link_to_if current_user, "Download", replay_match_game_path(@game.match_id, @game) %></strong>  (<%= @game.downloads %>) <br  /> <%= link_to("You must register to download replays",register_path) if current_user.nil? %> <br /><%= ratings_for @game, :remote_options => {:url => rate_replay_path(@game)} %><br/>
        <%=raw @game.formatted_spoiler %><br/>
      </p>
    </div>

  </div>

  <h3>Comments: </h3>
  <div id="comments">
    <%= render @game.comments.order('id asc') %>
    <% if @game.comments.size > 0 %>
      <%= render :partial => "comments/comment_footer" %>
    <% end %>
  </div>
  <p>
    <%= render :partial => "comments/form" %>
  </p>
</div>