<div id="newsmain">					
  <div class="newscontent">

    <div id="titrenews">
      <div id="titrecom">
        <a href="#newcomment"><%= image_tag "comment/add.png" %></a>
      </div>
      <div id=textcom align=right>
        <a href="#comments"><%= @game.comments.count %></a>
      </div>
      (<%= @game.player0.user.race[0,1] %>) <%= link_to @game.player0.login, profile_path(@game.player0.login) %> Vs. (<%= @game.player1.user.race[0,1] %>) <%= link_to @game.player1.user.login, profile_path(@game.player1.login) %><br/>
      <div id="undertitle">
        <%= american_time(@game.updated_at, true) %>
      </div>
    </div>

    <div align="center">
      <p><%= image_tag @game.map.photo.url(:normal), :border => "1" %>
        <br />	 <%= @game.map.name %> - <%= link_to "Match Sheet", match_path(@game.match) %>
        <br />
        <%= image_tag "Replay/disk.jpg", :align => :top %> <strong><%= link_to_if (current_user and @game.replay.exists?) , "Download", replay_match_game_path(@game.match_id, @game) %></strong>  (<%= @game.downloads %>) <br  /> <%= link_to("You must register to download replays",new_user_registration_path) if current_user.nil? %><br />
        Admin Rating: <%= image_tag rating_star_image(@game.admin_rating) %>
        <%= ratings_for @game, :remote_options => {:url => rate_replay_path(@game)} %><br/>
        <%=raw @game.formatted_spoiler %><br/>
      </p>
    </div>

  </div>

  <h3>Comments: </h3>
  <span class="pagination" style="float: right"><%=  paginate_links(10, @current_page, @comments_count, request.path) %></span><br />
  <div id="comments">
    <%= render @game.comments.order('id asc') %>
    <% if @game.comments.size > 0 %>
      <%= render :partial => "comments/comment_footer" %>
    <% end %>
  </div>
  <p>
    <%= render :partial => "comments/form" %>
  </p>
</div>