<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team %><br />
    <%= f.select :team_id, Team.alphabetical.collect {|t| [t.name, t.id]} %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.select :user_id, User.alphabetical.collect {|c| [c.login, c.id]} %>
  </div>
  <div class="field">
    <%= f.label :date_joined %><br />
    <%= f.date_select :date_joined %>
  </div>
  <div class="field">
    <%= f.label :date_quit %><br />
    <%= f.date_select :date_quit, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
