<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @player.team %>
</p>

<p>
  <b>User:</b>
  <%= @player.user %>
</p>

<p>
  <b>Date joined:</b>
  <%= @player.date_joined %>
</p>

<p>
  <b>Date quit:</b>
  <%= @player.date_quit %>
</p>

<p>
  <b>Comments:</b>
  <%- @player.comments.each do |comment| %>
    <br />
    <b><%= comment.user.login %> said: </b>
    <br />
    <%= comment.description %>
  <% end %>
</p>

<p>
  <%= render :partial => "comments/form" %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
