<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @player.team %>
</p>

<p>
  <b>User:</b>
  <%= @player.user %>
</p>

<p>
  <b>Date joined:</b>
  <%= @player.date_joined %>
</p>

<p>
  <b>Date quit:</b>
  <%= @player.date_quit %>
</p>

<h3>Comments:</h3>
  <%= render  @player.comments.order('id asc') %>
  <% if @player.comments.count > 0 %>
  <%= render :partial => "comments/comment_footer" %>
 <% end %>
<p>
  <%= render :partial => "comments/form" %>
</p>

<p>
  <%= render :partial => "comments/form" %>
</p>


<% if can? :edit, @player %><%= link_to 'Edit', edit_player_path(@player) %> |<% end %>
<%= link_to 'Back', players_path %>
