<div id="LiveM">
  <div id="LiveMTeam1logo">
    <%= link_to(image_tag(@live_match.team0.photo.url(:normal)), team_path(@live_match.team0.slug)) %>
    
  </div>
  <div id="livemteam1">
    <div align="left">
      <p>
        <strong><%= link_to @live_match.team0.name, team_path(@live_match.team0.slug) %></strong><br>
        <span class="soustitre"><img src="/css/images/content-bar/live/star2.gif" alt="teamcaptain" width="12" height="12" hspace="0" vspace="0" align="texttop"> <%= @live_match.team0.user.to_s %>  - <%= @live_match.season.rank_for(@live_match.team0).ordinalize %> </span><br>
        <br> <span class="lineup">
          <% @live_match.team0.players.each do |player|  %>
          <%= link_to player.login, profile_path(player.login) %>&nbsp;
          <% end %>
        </span>
      </p>
    </div>
  </div>
  <div id="LiveMScore">
    <div id="scoretext"><%= link_to(@live_match.team0_wins.to_s + " - " + @live_match.team1_wins.to_s, match_path(@live_match)) %></div>
  </div>
  <div id="LiveMTeam2logo">
    <%= link_to(image_tag(@live_match.team1.photo.url(:normal)), team_path(@live_match.team1.slug)) %>
  </div>
  <div id="LiveMTeam2">
    <div align="right" class="soustitre"><strong><%= link_to @live_match.team1.name, team_path(@live_match.team1.slug) %></strong><br>
      <div vertical-align="middle"><img src="/css/images/content-bar/live/star2.gif" alt="teamcaptain" width="12" height="12" hspace="0" vspace="0" align="texttop"> <%= @live_match.team1.user.to_s %>  - <%= @live_match.season.rank_for(@live_match.team1).ordinalize %> </div>
      <br>
      <span class="lineup">
        <% @live_match.team1.players.each do |player|  %>
          <%= link_to player.login, profile_path(player.login) %>&nbsp;
          <% end %>
      </span> </div>
  </div>
  <div id="LiveMEncountersList">
    <br>
    <p class="closeup">
      <% @live_match.games.order('id asc').each do |game| %>
      <% if game.player0 and game.player1 %>
      <strong><%= link_to(image_tag(race_icon_url(game.player0.user.race)).to_s + game.player0.user.login, profile_path(game.player0.login) ) %><% if game.winning_player == game.player0 %>&gt;<% else %>&lt;<% end %><%= link_to(image_tag(race_icon_url(game.player1.user.race)).to_s + game.player1.user.login,  profile_path(game.player1.login) ) %></strong><br />
      <% end %>
      <% end %>
      <br />
       </p>
    <div class="votenowcad" id="vcad">
      <div id="votenow">
        <div align="center" class="live-vote">
          <a href="/vote" class="popupwindow" rel="resizable:1,width:200,height:300"><span class="votenowtxt">VOTE NOW</span> -  <span class="votenowtimeleft"><div id="countbox1"></div> left </span></a>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div id="livefaq">
    <span class="votenowtimeleft"><strong><a href="#">WATCH THE LIVE STREAM  </a></strong></span><br>
    <span class="votenowfaq"><a href="#">How can i vote ?</a> - <a href="#">How does a match proceeds ?</a> - <a href="#">FAQ </a></span>
  </div>

</div>

<script type="text/javascript">
//######################################################################################
// Author: ricocheting.com
// Version: v2.0
// Date: 2011-03-31
// Description: displays the amount of time until the "dateFuture" entered below.

// NOTE: the month entered must be one less than current month. ie; 0=January, 11=December
// NOTE: the hour is in 24 hour format. 0=12am, 15=3pm etc
// format: dateFuture1 = new Date(year,month-1,day,hour,min,sec)
// example: dateFuture1 = new Date(2003,03,26,14,15,00) = April 26, 2003 - 2:15:00 pm

// TESTING: comment out the line below to print out the "dateFuture" for testing purposes
//document.write(dateFuture +"<br />");


//###################################
//nothing beyond this point
function GetCount(ddate,iid){

	dateNow = new Date();	//grab current date
	amount = ddate.getTime() - dateNow.getTime();	//calc milliseconds between dates
	delete dateNow;

	// if time is already past
	if(amount < 0){
		document.getElementById(iid).innerHTML="Now!";
	}
	// else date is still good
	else{
		days=0;hours=0;mins=0;secs=0;out="";

		amount = Math.floor(amount/1000);//kill the "milliseconds" so just secs

		days=Math.floor(amount/86400);//days
		amount=amount%86400;

		hours=Math.floor(amount/3600);//hours
		amount=amount%3600;

		mins=Math.floor(amount/60);//minutes
		amount=amount%60;

		secs=Math.floor(amount);//seconds

		if(days != 0){out += days +" "+((days==1)?"day":"days")+" ";}
		if(hours != 0){out += hours +" "+((hours==1)?"hour":"hours")+" ";}
		out += mins +" "+((mins==1)?"min":"mins")+" ";
		out += secs +" "+((secs==1)?"":"")+" ";
		out = out.substr(0,out.length-2);
		document.getElementById(iid).innerHTML=out;

		setTimeout(function(){GetCount(ddate,iid)}, 1000);
	}
}
<% v = VoteEvent.last %>
  <% if v %>
dateFuture1 = new Date(<%= v.ended_at.in_time_zone.year  %>,<%= v.ended_at.in_time_zone.month - 1  %>,<%= v.ended_at.in_time_zone.day   %>,<%= v.ended_at.in_time_zone.hour   %>,<%= v.ended_at.in_time_zone.min   %>,<%= v.ended_at.in_time_zone.sec   %>);

window.onload=function(){
	GetCount(dateFuture1, 'countbox1');
	//you can add additional countdowns here (just make sure you create dateFuture2 and countbox2 etc for each)
};
<% end  %>
</script>
<%= Time.zone %>
<%= v.ended_at.in_time_zone %>