<p id="notice"><%= notice %></p>

<p>
  <b>Team0:</b>
  <%= @match.team0.short_name %>
</p>

<p>
  <b>Team1:</b>
  <%= @match.team1.short_name %>
</p>

<p>
  <b>Season:</b>
  <%= @match.season_id %>
</p>

<p>
  <b>Date:</b>
  <%= @match.scheduled_at %>
</p>

<p>
  <b>Week:</b>
  <%= @match.weeks_id %>
</p>

<table>
  <tr>
    <th>Game #</th>
    <th><%= @match.team0.short_name %> Player</th>
    <th><%= @match.team1.short_name %> Player</th>
    <th>Map</th>
    <th>Winner</th>
    <th>Winning Team</th>
    <th>Replay</th>
    <th>Replay Downloads</th>
    <th></th>
  </tr>
  <% @match.games.where("games.result is not null").order("match_order asc").each do |game| %>
    <tr>
      <td><%= game.match_order %> </td>
      <td><%= game.player0 %> </td>
      <td><%= game.player1 %></td>
      <td><%= game.map %></td>
      <td><%= game.winning_player %></td>
      <td><%= game.result_s  %></td>
      <td><%= link_to_if game.replay_file_size.to_i > 0, "Download Replay", replay_match_game_path(@match.id, game.id) %> </td>
      <td><%= game.downloads %></td>
      <td><%= link_to "View", match_game_path(@match.id, game.id) %></td>
    </tr>
  <% end %>
</table>


<div id="newsmain">
  <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td width="356" rowspan="2"><img src="/css/images/teams/aaa.jpg" alt="" width="100" height="100" hspace="10" align="middle"><span class="matchtitre"><strong><a href="#">Against All Authority </a></strong></span></td>
        <td width="124" height="41"><div align="center">
            <p class="playoffteam">&nbsp;</p>
          </div></td>
        <td width="320" rowspan="2"><div align="right"><span class="playoffteam"><a href="#" class="matchtitre"><strong>Evil Geniuses </strong></a><strong> </strong></span> <img src="/css/images/teams/eg.jpg" alt="" width="100" height="100" hspace="10" align="middle"></div></td>
      </tr>
      <tr>
        <td><div align="center">
            <p class="playoffteam"><strong>VS</strong></p>
            <p class="playoffteam"><span class="matchpre"><a href="#">Season I  week 3</a> </span></p>
            <p class="playoffteam">&nbsp;</p>
            <p class="playoffteam">&nbsp;</p>
          </div></td>
      </tr>
      <tr>
        <td height="500" colspan="2" rowspan="2" valign="top"><table width="479" border="0" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <td colspan="2"><p class="matchpre">&nbsp;</p>
                  <p class="matchpre">Date: Aug. 15 22:20 CET </p>
                  <p class="matchpre">Vod: <a href="#">Yes </a></p>
                  <p class="matchpre">&nbsp;</p></td>
              </tr>
              <tr>
                <td width="101"><a href="#"><img src="/css/images/maps/shakuras2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td width="378" valign="top"><p align="left" class="matchlist"><span class="playoffteam playoffteam"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"><strong> Player 1</strong></a> <strong>&gt;</strong> <a href="#"><img src="/css/images/races/jaune.jpg" alt="terran" width="21" height="13"> Player 21</a></span></p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Shakuras plateau</p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl </a></span></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="#"><img src="/css/images/maps/cavern2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td valign="top"><p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"> <strong>Player 1</strong></a> <strong>&gt;</strong> <a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> <a href="#">Player 22</a></p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Xel Naga Caverns </p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl</a></span></p>                        </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="#"><img src="/css/images/maps/shakuras2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td valign="top"><p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"> <strong>Player 1</strong></a> <strong>&gt;</strong> <a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> <a href="#">Player 23</a></p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Shakuras plateau</p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl</a></span></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC"><a href="#"><img src="/css/images/maps/shakuras2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td valign="top" bgcolor="#CCCCCC"><p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"> Player 1 </a><strong>&lt;</strong> <strong><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> <a href="#">Player 21</a> </strong>* REVIVE *</p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Shakuras plateau</p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl</a></span></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="#"><img src="/css/images/maps/shakuras2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td valign="top"><p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"> Player 2 </a><strong>&lt;</strong> <strong><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> <a href="#">Player 21</a></strong></p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Shakuras plateau</p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl</a></span></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><a href="#"><img src="/css/images/maps/shakuras2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td valign="top"><p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"> Player 3 </a><strong>&lt;</strong> <strong><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> <a href="#">Player 21</a></strong></p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Shakuras plateau</p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl</a></span></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td bgcolor="#CCCCCC"><a href="#"><img src="/css/images/maps/shakuras2.jpg" alt="shakuras" width="91" height="75" border="1" align="left"></a></td>
                <td valign="top" bgcolor="#CCCCCC"><p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"> <strong>Player 3 &gt; </strong></a><strong><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> </strong><a href="#">Player 21</a>   * REVIVE *</p>
                  <p align="left" class="matchlist">&nbsp;</p>
                  <p align="left" class="matchlist ntitle2">Map: Shakuras plateau</p>
                  <p align="left" class="matchlist"><span class="ntitle2"> Replay:  3.5/5 -<a href="#"> 0 com - 0 dl</a></span></p></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody></table>
          <p>&nbsp;</p>
          <p align="center" class="matchlist"><strong><a href="#">Against All Authority </a></strong>4 - 3 <a href="#">Evil Geniuses</a></p>                    </td>
        <td height="72" valign="top"><p align="left" class="matchlist">&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td valign="top"><p align="left" class="matchlist"><a href="#">Against All Authority</a> revive (200 votes)</p>
          <blockquote>
            <p align="left" class="matchlist"><strong><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> Player 1 (100) </strong></p>
            <p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> Player 2 (60) </p>
            <p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> Player 3 (40) </p>
          </blockquote>
          <p align="left">&nbsp;</p>
          <p align="left" class="matchlist"><a href="#">Evil Geniuses </a> revive (200 votes)</p>
          <blockquote>
            <p align="left" class="matchlist"><strong><a href="#"><img src="/css/images/races/jaune.jpg" alt="terran" width="21" height="13"></a> Player 21 (100) </strong></p>
            <p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> Player 22 (60) </p>
            <p align="left" class="matchlist"><a href="#"><img src="/css/images/races/rouge.jpg" alt="terran" width="21" height="13"></a> Player 23 (40) </p>
          </blockquote></td>
      </tr>
    </tbody></table>
  <div align="center"><br>
    &nbsp;    </div>
</div>



<h3>Comments: </h3>
<div id="comments">
  <%= render @match.comments %>
  <% if @match.comments.size > 0 %>
    <%= render :partial => "comments/comment_footer" %>
  <% end %>
</div>
<p>
  <%= render :partial => "comments/form" %>
</p>

<%= link_to "Start Live Voting", new_match_vote_event_path(@match.id) %> |
<% if can? :edit, @match %><%= link_to 'Edit', edit_match_path(@match) %> |<% end %>
<%= link_to 'Back', matches_path %>
