<p id="notice"><%= notice %></p>

<p>
  <b>Team0:</b>
  <%= @match.team0.short_name %>
</p>

<p>
  <b>Team1:</b>
  <%= @match.team1.short_name %>
</p>

<p>
  <b>Season:</b>
  <%= @match.season_id %>
</p>

<p>
  <b>Date:</b>
  <%= @match.scheduled_at %>
</p>

<p>
  <b>Week:</b>
  <%= @match.weeks_id %>
</p>

<table>
  <tr>
    <th>Game #</th>
    <th><%= @match.team0.short_name %> Player</th>
    <th><%= @match.team1.short_name %> Player</th>
    <th>Map</th>
    <th>Winner</th>
    <th>Winning Team</th>
    <th>Replay</th>
    <th>Replay Downloads</th>
    <th></th>
  </tr>
<% @match.games.where("games.result is not null").order("match_order asc").each do |game| %>
  <tr>
    <td><%= game.match_order %> </td>
<td><%= game.player0 %> </td>
<td><%= game.player1 %></td>
<td><%= game.map %></td>
<td><%= game.winning_player %></td>
<td><%= game.result_s  %></td>
<td><%= link_to_if game.replay_file_size.to_i > 0, "Download Replay", replay_match_game_path(@match.id, game.id) %> </td>
<td><%= game.downloads %></td>
<td><%= link_to "View", match_game_path(@match.id, game.id) %></td>
</tr>
<% end %>
</table>


  <h3>Comments: </h3>
  <div id="comments">
    <%= render @match.comments %>
    <% if @match.comments.size > 0 %>
      <%= render :partial => "comments/comment_footer" %>
    <% end %>
  </div>
  <p>
    <%= render :partial => "comments/form" %>
  </p>

<%= link_to "Live Voting", match_vote_events_path(@match.id) %> | 
<% if can? :edit, @match %><%= link_to 'Edit', edit_match_path(@match) %> |<% end %>
<%= link_to 'Back', matches_path %>
