
<div id="newsmain">
  <% if can? :update, @match %><%= link_to 'Edit Match', edit_match_path(@match) %><% end %>
  <% if @match.team0 and @match.team1 %>
  <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td width="356" rowspan="2">
          <%= image_tag(@match.team0.photo.url(:normal), :hspace => 10, :align => "middle") if @match.team0 and @match.team0.photo.exists?  %>
          <span class="matchtitre"><strong><%= link_to @match.team0.name, team_path(@match.team0.slug) %></strong></span>
        </td>
        <td width="124" height="41">
          <div align="center">
            <p class="playoffteam">&nbsp;</p>
          </div>
        </td>
        <td width="320" rowspan="2">
          <div align="right">
            <span class="matchtitre"><strong><%= link_to @match.team1.name, team_path(@match.team1.slug) %> </strong></span>
            <%= image_tag(@match.team1.photo.url(:normal), :hspace => 10, :align => "middle") if @match.team1 and @match.team1.photo.exists?  %>
          </div>
        </td>
      </tr>
      <tr>
        <td><div align="center">
            <p class="playoffteam"><strong>VS</strong></p>
            
            <p class="playoffteam">&nbsp;</p>
            <p class="playoffteam">&nbsp;</p>
          </div></td>
      </tr>
      <tr>
        <td height="500" colspan="2" rowspan="2" valign="top"><table width="479" border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td colspan="2"><p class="matchpre">&nbsp;</p>
				  <p class="matchpre">
					<% if @match.weeks_id %>
					  <%= link_to "#{@match.season.name} Round #{@match.weeks_id}", season_path(@match.season) + "#week#{@match.weeks_id}" %>
					<% else %>
					  <%= link_to "#{@match.season.name} Playoffs", season_path(@match.season) + "#playoff" %>
					<% end %>
                  </p>
                  <p class="matchpre">Date: <%= american_time(@match.scheduled_at) %> </p>
                  
                  <p class="matchpre"><%= link_to_if !@match.url.blank?, "View VODS", @match.url  %></p>
                  <p class="matchpre">&nbsp;</p></td>
              </tr>

              <% @match.games.each do |game| %>
                <% if (game.player0 and game.player1) or @match.winner.nil? %>
                <tr>
                  <td width="101" bgcolor="<%= if game.revived then "#CCC" else "" end %>"  >
                    <%= link_to_if((game.player0 and game.player1), image_tag(game.map.photo.url(:thumb), :height => "75"), replay_path(game)) %>
                  </td>
                  
                  <td width="378" valign="top" bgcolor="<%= if game.revived then "#CCC" else "" end %>">
                    <p align="left" class="matchlist"><span class="playoffteam playoffteam">
                      <% if game.player0 and game.player1 %>
					    <% if game.winning_player == game.player0 %>
						  
						  <strong><%= link_to((image_tag(race_icon_url(game.player0.user.race))+" " +game.player0.login).html_safe,profile_path(game.player0.login)) %></strong>						 
						  &nbsp;&gt;&nbsp;
						  <%= link_to((image_tag(race_icon_url(game.player1.user.race))+" " +game.player1.login).html_safe,profile_path(game.player1.login)) %>
						<% elsif game.winning_player == game.player1 %>
						  <%= link_to((image_tag(race_icon_url(game.player0.user.race))+" " +game.player0.login).html_safe,profile_path(game.player0.login)) %>						 
						  &nbsp;&lt;&nbsp;
						  <strong><%= link_to((image_tag(race_icon_url(game.player1.user.race))+" " +game.player1.login).html_safe,profile_path(game.player1.login)) %></strong>
						<% else %>
  						  <%= link_to((image_tag(race_icon_url(game.player0.user.race))+" " +game.player0.login).html_safe,profile_path(game.player0.login)) %>						 
						  vs
						  <%= link_to((image_tag(race_icon_url(game.player1.user.race))+" " +game.player1.login).html_safe,profile_path(game.player1.login)) %>
                        <% end %>
						<%= if game.revived then  " * REVIVED *" else "" end %>
                        <% end %>
                      </span>
                    </p>
                    <p align="left" class="matchlist">&nbsp;</p>
                    <p align="left" class="matchlist ntitle2">Map: <%= game.map.name %></p>
                    <p align="left" class="matchlist">
                      <span class="ntitle2">
                        <%= image_tag(rating_star_image(game.rating_average), :align => "top") %>
                        <%= link_to_if (game.player0 and game.player1), "View Replay", replay_path(game) %> |
                        <%= pluralize(game.comments.count, 'comment') %> |
                        <%= pluralize(game.downloads, 'downloads') %>
                      </span>
                    </p>
                  </td>
                  
                  
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <% end %>
              <% end %>
              

            </tbody>
          </table>
          <p>&nbsp;</p>
          <p align="center" class="matchlist">
             <%= link_to @match.team0.name, team_path(@match.team0.slug), {:class => "#{(@match.team0_wins == 4 ? "bold" : "")}"} %>
             <%= "#{@match.team0_wins} - #{@match.team1_wins}" %>
             <%= link_to @match.team1.name, team_path(@match.team1.slug), {:class => "#{(@match.team0_wins == -4 ? "bold" : "")}"}  %>
          </p>
        </td>
        <td height="72" valign="top"><p align="left" class="matchlist">&nbsp;</p>
        </td>
      </tr>
      <tr>

        <td valign="top">
          <%  @match.vote_events.each do |vote_event| %>
          <p align="left" class="matchlist"><%= link_to vote_event.team.name, team_path(vote_event.team.slug) %> revive. <% if current_admin %>(<%= pluralize(vote_event.votes.count, "vote") %>)<%end %></p>
          <blockquote style="margin: 20px 40px;">
            <% total_votes = [vote_event.votes.count,1].max %>
            <% vote_event.players.sort_by{|p| -vote_event.votes.where(:player_id => p.id).count}.each_with_index do |player, i| %>
               <% player_votes = vote_event.votes.where(:player_id => player.id).count %>
                <p align="left" class="matchlist">
                <% if i == 0 %>
                    <strong><%= link_to((image_tag(race_icon_url(player.user.race))+ " " + player.login).html_safe,profile_path(player.login)) %> <% if current_admin %><%= player_votes %><% end %> <%= sprintf('%.1f', 100.0 * player_votes.to_f / total_votes.to_f) %>%</strong>
                <% else %>
                   <%= link_to((image_tag(race_icon_url(player.user.race))+ " " + player.login).html_safe,profile_path(player.login)) %> <% if current_admin %><%= player_votes %><% end %> <%= sprintf('%.1f', 100.0 * player_votes.to_f / total_votes.to_f) %>%
                <% end %>              
                </p>
            <% end %>
              </blockquote>
          <% end %>
        </td>
      </tr>
    </tbody></table>
  <div align="center"><br />
    &nbsp;    </div>
	<% else %>
	  The details of this match are not yet determined.
	<% end %>	




<h3>Comments: </h3>
<span class="pagination" style="float: right"><%=  paginate_links(10, @current_page, @comments_count, request.path) %></span><br />
<div id="comments">
  <%= render @match.comments %>
  <% if @match.comments.size > 0 %>
    <%= render :partial => "comments/comment_footer" %>
  <% end %>
</div>
<p>
  <%= render :partial => "comments/form" %>
</p>
</div>
<% if can? :edit, @match %>
<%= link_to "Start Live Voting", new_match_vote_event_path(@match.id) %> |
<%= link_to 'Edit', edit_match_path(@match) %> |<% end %>
