
  <div id="left">

    <div id="ranking">
      <% cache('season_rankings') do %>
	    <% @season = Season.published.last %>
        <% if @season %>
          <div id="ranking-titre">
            <div id="ranking-titre-texte">- Ranking <%= @season.name %></div>
          </div>
         <div id="ranking-content">
          <div id="ranking-ligne-titre">
            <div class="ranking-ligne-titre-id">#</div>
            <div class="ranking-ligne-titre-name">Team</div>
            <div class="ranking-ligne-titre-points">Points</div>
            <div class="ranking-ligne-titre-win">Wins</div>
            <div class="ranking-ligne-titre-loose">Losses</div>
            <div class="ranking-ligne-titre-mw">GW</div>
            <div class="ranking-ligne-titre-ml">GL</div>
          </div>
          
            <% @season.teams.sort_by{|t| -1 * @season.points(t)}.each_with_index do |team, i| %>
              <div class="ranking-ligne" <%- if i % 2 == 1 %>style="background-color : #e8e8e8;"<%- end %>>
                <div class="ranking-ligne-id"><%= i + 1 %>.</div>
                <div class="ranking-ligne-name"><%= image_tag team.country.flag%> <%= link_to team.name, team_path(team.slug) %></div>
                <div class="ranking-ligne-points"><%= @season.points(team) %> pts</div>
                <div class="ranking-ligne-win"><%= @season.wins(team) %></div>
                <div class="ranking-ligne-loose"><%= @season.losses(team) %></div>
                <div class="ranking-ligne-mw"><%= @season.game_wins(team) %></div>
                <div class="ranking-ligne-ml"><%= @season.game_losses(team) %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="article">
      <% cache("featured_article") do  %>
        <% if @article %>
          <div class="article-titre2">
            <p><%= link_to @article.title, view_article_path(@article) %></p>
            <p><span class="style6">
              <%= @article.created_at.strftime("%b #{@article.created_at.day.ordinalize}") %>, 
              <%= @article.comments.count %>
            </span> 
              <img src="/css/images/comment/com.gif" alt="" />
            </p>
          </div>
          <div class="article-texte"><%- r = /([^a-z0-9_]|^)@([a-z0-9_]+)/i %><%=raw auto_link(truncate_words(@article.description, 200, "(..)", 1327)).gsub(r) {|m| "#{$1}<a href='http://twitter.com/#{$2}'>@#{$2}</a>#{$3}" } %>
            <br/> &nbsp;
            <div align="right">
              <br/><%= link_to "Read More", view_article_path(@article), :style => "font-weight: bolder;font-size: 13px;" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>      

  </div>

  <div id="center">
      <% cache("recent_news") do %>
        <div id="middlenews">
          <div id="middle-titre">
            <div id="middle-titre-texte">LAST NEWS</div>
              <div id="middle-titre-texte-right"><%= link_to "+see all", articles_path %></div>
          </div>
          <div style="margin-left:2px; margin-top:2px">
            <% @frontpage_articles.each do |article| %>
              <%= link_to content_tag(:font, article.created_at.strftime(" %m/%d") + " - ", :class => "ntitle2") + 
              content_tag(:font, article.title + " ", :class => "ntitle"), view_article_path(article) %>&nbsp;
              <%= link_to content_tag(:font, article.comments.count.to_s + " ", :class => "ntitle") +
              content_tag(:img, "", :src => "/css/images/comment/com.gif"), view_article_path(article)+ "#comments" %><br/>
            <% end %>
          </div>
      <% end %>
  </div>
  
      <% cache("recent_games") do %>
        <div id="middle">
          <div id="middle-titre">
            <div id="middle-titre-texte">LAST REPLAYS</div>
            <div id="middle-titre-texte-right"><%= link_to "+see all", replays_path %></div>
			<div style="float:left;width: 100%; height: 2px;">&nbsp;</div>
            <table width="353" cellpadding="0" cellspacing="0" border="0" id="replays_table">
              <% @games.each do |game| %>
                <tr>
                  <td height="26" width="34" valign="middle">&nbsp;&nbsp;<%= image_tag rating_star_image(game.rating_average) %></td>
                  <td  width="150"  valign="absmiddle"><%= link_to("#{image_tag(race_icon_url(game.player0.user.race), :align => :top)} <span style='font-weight: normal;'>#{game.player0.team.short_name}</span> <b>#{game.player0.login}</b>".html_safe, replay_path(game)).html_safe %></td>
                  <td  width="150"  valign="absmiddle"><%= link_to("#{image_tag(race_icon_url(game.player0.user.race), :align => :top)} <span style='font-weight: normal;'>#{game.player1.team.short_name}</span> <b>#{game.player1.login}</b>".html_safe, replay_path(game)).html_safe %></td>
                  <td width="27" valign="middle" vspace="2"><%= link_to(image_tag("/css/images/last-replays/dl2.gif"), replay_path(game)).html_safe %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>     


