
<table width="780" border="0" cellpadding="0" cellspacing="0" id="comtab">
  <tbody><tr>
      <td colspan="2">
        <div class="commentup" id="post_<%= post.id %>">
          <div id="thumbs">
            <div align="right">
              <% if can? :create, Post %><%= link_to "Quote", "" %> -<% end %>
              <% if can? :edit, Post %><%= link_to "Edit", "" %> -<% end %>
            </div>
          </div>
          <% if post.user.country %><%=  image_tag post.user.country.flag, :alt => post.user.country.name %> <% end %>  <%= link_to post.user.to_s, profile_path(post.user.login) %> <span class="commentuptime"><%= post.formatted_time %> </span></div></td>
    </tr>
    <tr>
      <td width="104" valign="top">
        <div id="div">
		  <% if post.user.connected_with_facebook? and !post.user.photo.exists? %>
		    <%= link_to(image_tag("http://graph.facebook.com/#{post.user.facebook_uid}/picture", :width => 96, :height => 96, :vspace => 4, :hspace => 4, :border => 1), profile_path(post.user.login))   %>
	      <% else %>
			<%= link_to(image_tag(post.user.photo.url(:normal), :alt => "", :width => 90, :height => 96, :vspace => 4, :hspace => 4, :border => 1), profile_path(post.user.login)) %>			
		  <% end %>
		
          
          <% if post.user.race %>
          <br />
          <%= image_tag race_icon_url(post.user.race), :align => "top", :width => 21, :height => 13, :hspace => 4, :vspace => 3 %><span class="lineup" style="font-size: 10px"><%= post.user.race.capitalize %> </span>
          <% end %>
          <% if post.user.is_moderator? %>
            <br />
            <span class="lineup">
              <img src="/css/images/comment/staff.jpg" alt="" width="21" height="13" hspace="4" vspace="3" align="top" /><span><%= post.user.roles.last.to_s.capitalize %></span>
            </span>
          <% end %>
          <% if post.user.player %>
            <br />
            <span class="lineup">
              <img src="/css/images/comment/player.jpg" alt="" width="21" height="13" hspace="4" vspace="3" align="top" /><span style="overflow: visible"><%= link_to post.user.player.team.short_name, named_team_path(post.user.player.team.slug) %></span>
            </span>
          <% end %>
          <% if post.user.caster %>
            <br />
            <span class="lineup">
              <img src="/css/images/comment/caster.jpg" alt="" width="21" height="13" hspace="4" vspace="3" align="top" /><%= link_to "Caster", post.user.website, :rel => "nofollow" %>
            </span>
          <% end %>


        </div>
      </td>
      <td width="714" valign="top" padding="10" align="center" ><table width="690" height="146" border="0" cellpadding="0" style="text-align: left;">
          <tbody><tr valign="top">
              <td><%=raw post.formatted_text %><br />

              </td>
            </tr>
          </tbody></table>                                   </td>
    </tr>
  </tbody></table>

