<h1>Listing game_ratings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Game</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_ratings.each do |game_rating| %>
  <tr>
    <td><%= game_rating.user %></td>
    <td><%= game_rating.game %></td>
    <td><%= game_rating.rating %></td>
    <td><%= link_to 'Show', game_rating %></td>
    <td><%= link_to 'Edit', edit_game_rating_path(game_rating) %></td>
    <td><%= link_to 'Destroy', game_rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game rating', new_game_rating_path %>
