<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">

  <head>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

    <title>PokerStrategy.com SC2SL</title>
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <meta name="title" content="SC2SL" />

    <meta name="description" content="SC2SL" />

    <meta name="keywords" content="SC2SL" lang="fr" xml:lang="fr" />

    <meta name="author" content="p6e" />

    <meta name="robots" content="index, follow" />

    <meta name="googlebot" content="index, follow" />

    <meta name="language" content="english" />

    <!-- STYLES  -->

    <link href="/favicon.gif" rel="shortcut icon" />

    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <%= ajaxful_rating_style %>
    <!-- JAVASCRIPT  -->

    <!-- JAVASCRIPT  -->

    <%= auto_discovery_link_tag(:rss, "http://localhost:3001/articles.rss") %>


    <script type="text/javascript" src="/js/slider.js"></script>

    <script type="text/javascript" src="/js/slider-news.js"></script>
   
  </head>

  <body>

    <div id="structure-login2">

      <div id="login">

        <div id="login-left2"></div>

        <div id="login-content">

          <div class="login-content-left">

            <img src="/css/images/login/icones/login.gif" alt="Formulaire de connexion" />

            <% unless current_user %>
              <div class="login-content-texte">
                <%= link_to "REGISTER", register_path %> or LOGIN</div>
              <% form_for UserSession.new, :url => user_session_path do |f| %>
                <%= f.text_field :login, :placeholder => "Login", :class => "input-login" %>
                <%= f.password_field :password, :placeholder => "Password", :class => "input-login" %>
                <%= f.hidden_field :remember_me, :value => true %>
                <%= f.submit "OK", :class => "submit-login" %>
              <% end %>
            <% else %>
              Welcome, <%= current_user.login %>
              <%= link_to "My Account", account_path %> |
              <%= link_to "Logout", logout_path %>
              <% if current_user.is_moderator? %>
                <br />
                <%= link_to "Articles", articles_path %> |
                <%= link_to "Comments", comments_path %> |
                <%= link_to "Players", players_path %> |
                <%= link_to "Teams", teams_path %> |
                <%= link_to "Seasons", seasons_path %> |
                <%= link_to "Matches", matches_path %> |
                <%= link_to "Maps", maps_path %> |
                <%= link_to "Moderations", moderations_path %> |
                <%= link_to "Users", users_path %>
              <% end %>
            <% end %>

          </div>

          <div class="login-content-right">

            <a href="http://localhost:3001/articles.rss"><img src="/css/images/login/icones/rss.gif" alt="RSS" /></a>
            <a href="#"><img src="/css/images/login/icones/twitter.gif" alt="TWITTER" /></a>

            <a href="#"><img src="/css/images/login/icones/facebook.gif" alt="FACEBOOK" /></a>

            <a href="#"><img src="/css/images/login/icones/mirc2.gif" alt="MIRC" /></a>

          </div>

        </div>



      </div>
    </div>

    <div id="global">

      <div id="structure-ombre">

        <div id="structure">

          <div id="header">

            <div id="header-logo">


              <div id="header-logo">
                <div id="hlogo"></div>
              </div>

            </div>

            <div id="header-pub">

              <div id="header-pub-left"></div>

              <div id="header-pub-content"><a href="#"><img src="/css/images/header/pub/logi1.gif" alt="Get the SC2SL discount !" width="570" height="92" /></a></div>

              <div id="header-pub-right"></div>

            </div>

          </div>

          <div id="menu">

            <div id="menu-lien">

              <div class="menu-lien"><a href="/" style="padding-top : 3px;"><img src="/css/images/menu/accueil.png" alt="Retour à l'accueil" /></a></div>

              <div class="menu-separation"></div>

              <div class="menu-lien"><%= link_to "NEWS", articles_path %> </div>

              <div class="menu-separation"></div>

              <div class="menu-lien"><%= link_to "LEAGUES", seasons_path %></div>

              <div class="menu-separation"></div>

              <div class="menu-lien"><%= link_to "REPLAYS", matches_path %> </div>

              <div class="menu-separation"></div>

              <div class="menu-lien"><%= link_to "FAQ", faq_path %> </div>

              <div class="menu-separation"></div>

              <div class="menu-lien"><a href="#">PLAY POKER</a></div>

              <div class="menu-separation"></div>

            </div>

            <div id="menu-live">

              <div class="menu-separation"></div>

              <div class="menu-live-left">NEXT LIVE ON SC2SL</div>

              <div class="menu-live-right"><img src="/css/images/menu/horloge.gif" alt="NEXT LIVE" /><span style="float : left ;height : 18px; margin-left : 8px; margin-top : 1px;"><%= Time.now.strftime("%d %b %H:%M").upcase  %> </span></div>

            </div>

          </div>

          <div id="content-bar">

            <div id="slider" class="nivoSlider">
              <%- @articles.each_with_index do |article, i| %>
                <%= render :partial => "articles/article_banner", :locals => {:article => article, :i => i} %>
              <% end %>

            </div>
            <div id="live">

              <div id="live-haut">

                <div id="live-haut-status">
                  <% if @live_match.live %>
                    <div id="live-haut-status-image"><img src="/css/images/content-bar/live/live.jpg" alt="Live" /></div>
                    <div id="live-haut-status-texte"><%= link_to "LIVE IS ONLINE", root_url %></div>
                  <% else %>
                    <div id="live-haut-status-image"><img src="/css/images/content-bar/live/offline.jpg" alt="Offline" /></div>
                    <div id="live-haut-status-texte"><a href=#>LIVE IS OFFLINE</a></div>
                  <% end %>

                </div>

                <div id="live-haut-separation"></div>

                <div id="live-haut-infos">

                  <div id="live-haut-infos-competition">Week <%= @live_match.weeks_id %></div>

                  <div id="live-haut-infos-team"><%= @live_match.title %></div>

                </div>

              </div>

              <div id="live-ligne">

                <div id="live-ligne-left" align="center">Casters</div>

                <div id="live-ligne-right">
                  <%= link_to @live_match.casters.collect {|c| c.login}.join(", "), @live_match.url %>
                </div>

              </div>

            </div>

            <div id="head-sponsors">

              <div id="head-sponsors-left"></div>

              <div id="head-sponsors-content"><a href="#"><img src="/css/images/content-bar/sponsors/qpad.png" alt="SC2SL Main Sponsor" style="margin-top : 30px;" /></a></div>

            </div>

          </div>

        </div>

        <div id="structure-sponsors2"><div id="ssponso" align="center">
            <a href="default.aspx">
              <img src="/css/images/slider/logitech.png" alt="Profit of a special SC2SL offer with logitech!" border="0"
                   onmouseover="this. src='/css/images/slider/logitech2.png';"
                   onmouseout="this.src= src='/css/images/slider/logitech.png';" />
            </a></div>
        </div>

        <div id="structure">
          <div id="fullpage">
            <% if params[:notice] %>
              <div id="notice"><%= params[:notice] %> </div>
            <% elsif params[:errors] %>
              <div id="notice"><%= params[:errors] %> </div>
            <% end %>
            <%= yield %>

          </div>
          <div id="right">


            <div id="advertissement">

              <div id="advertissement-image"><a href="#"><img src="/css/images/header/pub/logi2.gif" alt="logitech offer for starcraft fans!" width="120" height="600" /></a></div>

            </div>
            <div id="tags">
              <span style="font-size: 1.8em">Popular</span><br />
              <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                <%= link_to tag.name, { :controller => :articles, :action => :index, :tag => tag.name }, :class => css_class %>
              <% end %>
            </div>

          </div>

        </div>

        <div id="footer">

          <div id="footer-menu">

            <div id="menu-lien" style="width : 1000px;">

              <div class="menu-lien"><%= link_to "NEWS", articles_path %> </div>

              <div class="menu-lien"><a href="#">LEAGUE</a></div>

              <div class="menu-lien"><%= link_to "REPLAYS", matches_path %> </div>

              <div class="menu-lien"><a href="#">FAQ</a></div>

              <div class="menu-lien"><a href="mailto:contact@sc2sl.com">CONTACT/SUPPORT</a></div>

              <div class="menu-lien" style="float : right;"><a href="/" style="padding-top : 3px;"><img src="/css/images/menu/accueil.png" alt="Retour à l'accueil" /></a></div>

            </div>

          </div>

          <div id="footer-content">

            <div id="footer-sponsors">



            </div>

            <div id="footer-left">
              <p>SC2SL Copyright © 2011 / ALL RIGHTS RESERVED<br />
					     website coded by Michael Darmousseh - names and graphics are the property of their respective publishers and studios

									All other copyrights or trademarks are the property of their respective owners.

					  SIRET n°xxx - xxx - xxx - xxx </p>
            </div>

            <div id="footer-right">
              <div class="footer-right-image"><a href="http://www.p6e.org"><span class="footer-right-image"><img src="/css/images/footer/p6e_footer.jpg" alt="p6e" width="139" height="58"/></span></a></div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </body>

</html>
