<% cache("html_header") do %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>

    <META NAME="ROBOTS" CONTENT="NOODP" />
    <meta http-equiv="Content-Language" content="EN-US" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="The Starcraft 2 Survivor League is a Starcraft 2 team league event in survivor mode. Vote for your favorite player during a match and bring him back  to life!" />
    <meta name="author" content="p6e" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="language" content="english" />
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />        

    <!-- STYLES  -->

    <link href="/favicon.gif" rel="shortcut icon" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    <link href="/css/smoothness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"/>
    <link href="/css/images/logo.ico" rel="shortcut icon" />
    

    <!-- JAVASCRIPT  -->

    <%= auto_discovery_link_tag(:rss, "http://localhost:3000/articles.rss") %>
    <%= javascript_include_tag :defaults %>
    <script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/dddropdownpanel.js"></script>
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script type="text/javascript" src="/js/slider-news.js"></script>
    <script type="text/javascript" src="/js/jquery.placeheld.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.popupwindow.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("input[placeholder]").placeHeld();
      });
    </script>

    <script type="text/JavaScript">
      <!--
      function MM_swapImgRestore() { //v3.0
        var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
      }

      function MM_preloadImages() { //v3.0
        var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
          var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
            if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
        }

        function MM_findObj(n, d) { //v4.01
          var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
            d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
          if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
          for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
          if(!x && d.getElementById) x=d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
          var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
            if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
        }
        //-->
    </script>    
    
    <% end %>
	<%= ajaxful_rating_style %>

    <title><%= (@layout_subpage + " - ") unless @layout_subpage.empty? %><%= (@layout_page + " - ") unless @layout_page.empty? %>Starcraft 2 Survivor League</title>
    <meta name="title" content="<%= (@layout_subpage + " - ") unless @layout_subpage.empty? %><%= (@layout_page + " - ") unless @layout_page.empty? %>Starcraft 2 Survivor League" />
    <meta name="description" content="<%= (@description + " | ") %> <%= (@layout_subpage + " - ") unless @layout_subpage.empty? %><%= (@layout_page + " - ") unless @layout_page.empty? %>Starcraft 2 Survivor League" />
    <meta name="keywords" content="<%= @keywords.join(", ") %>" lang="en" xml:lang="en" />

  </head>

  <body onload="MM_preloadImages('/css/images/login/icones/facebook.png','/css/images/login/icones/twitter.gif','/css/images/login/icones/rss.gif','/css/images/login/icones/mirc2.gif')">

    <div id="structure-login2">
      <div id="login">
        <div id="login-content">
          <div class="login-content-left">
            <img src="/css/images/login/icones/login.png" alt="Formulaire de connexion" align="left" />
              
                <% unless current_user %>
                  <div class="login-content-texte"><%= link_to "REGISTER", register_path %> or LOGIN</div>
                  <%= form_for UserSession.new, :url => user_session_path do |f| %>
                    <%= f.text_field :login, :placeholder => "Login", :class => "input-login" %>
                    <%= f.password_field :password, :placeholder => "Password", :class => "input-login" %>
                    <%= f.hidden_field :remember_me, :value => true %>
                    <%= f.submit "OK", :class => "submit-login" %>
                  <% end %>
                <% else %>
                <div class="login-content-texte">
                Welcome <b><%= current_user.login %></b> |
              <%= link_to "My Account", account_path %> |
              <% if current_user.is_moderator? %>
                <%= link_to "Admin Panel", admin_path %> |
                <%= link_to "Advertisements", advertisements_path %> |
                <%= link_to "Articles", articles_path %> |
                <%= link_to "Comments", comments_path %> |
                <%= link_to "Players", players_path %> | <br />
                <%= link_to "Teams", teams_path %> |
                <%= link_to "Seasons", seasons_path %> |
                <%= link_to "Matches", matches_path %> |
                <%= link_to "Newsletters", newsletters_path %> |
                <%= link_to "Moderations", moderations_path %> |
                <%= link_to "Users", users_path %> |
              <% end %>
              <%= link_to "Logout", logout_path %>
              </div>
                <% end %>
          </div>
          <div class="login-content-right">
            <img src="/css/images/menu/join.png" alt="youtube" border="0" align="top"/>
            <a href="http://twitter.com/#!/SC2SL" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('youtube','','/css/images/login/icones/youtube.gif',1)"><img src="/css/images/login/icones/youtube.png" alt="youtube" width="21" height="20" border="0" align="top" id="youtube" /></a>
            <a href="http://www.facebook.com/pages/SC2SL/258966677449790" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image62','','/css/images/login/icones/facebook.gif',1)"><img src="/css/images/login/icones/facebook.png" alt="fb" width="21" height="20" border="0" id="Image62" /></a>
            <a href="http://twitter.com/#!/SC2SL" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image63','','/css/images/login/icones/twitter.gif',1)"><img src="/css/images/login/icones/twitter.png" alt="twitter" width="21" height="20" border="0" id="Image63" /></a>
            <a href="/articles.rss" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image64','','/css/images/login/icones/rss.gif',1)"><img src="/css/images/login/icones/rss.png" border="0" id="Image64" /></a>
            <a href="irc://irc.quakenet.org/sc2sl" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Image65','','/css/images/login/icones/mirc2.gif',1)"><img src="/css/images/login/icones/mirc2.png" alt="mirc" width="21" height="20" border="0" id="Image65" /></a>
          </div>
        </div>
      </div>


    <table width="1000" height="92" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="380" align="center" valign="middle"><%= cms_snippet_content('main_logo') %></td>
        <td width="620" align="center" valign="middle"><div id="pubhaut"><%= cms_snippet_content('ad_top_right') %></div></td>
      </tr>
    </table>


    <div id="menu">

      <%= cms_snippet_content('main_menu') %>

      <div id="menu-live">

        <div class="menu-separation"></div>

        <div class="menu-live-left">NEXT LIVE ON SC2SL</div>

        <div class="menu-live-right"><img src="/css/images/menu/clock.png" alt="NEXT LIVE" valign="absmiddle" /><span style="float : left ;height : 18px; margin-left : 8px; margin-top : 7px;"><%= @live_match.scheduled_at.strftime("%d %b %H:%M").upcase if @live_match  %> </span></div>

      </div>

    </div>

    <div id="content-bar">
      <% if @live_match and @live_match.live %>
        <%= render :partial => "matches/live", :locals => {:live_match => @live_match} %>
      <% else %>
        <div id="slider" class="nivoSlider">
          <%- @frontpage_articles.each_with_index do |article, i| %>
            <%= render :partial => "articles/article_banner", :locals => {:article => article, :i => i} %>
          <% end %>
        </div>
      <% end %>


      <div id="live">

        <div id="live-haut">

          <div id="live-haut-status">

            <% if @live_match and @live_match.live %>
              <div id="live-haut-status-image"><img src="/css/images/content-bar/live/live.jpg" alt="Live" /></div>
              <div id="live-haut-status-texte">LIVE IS ONLINE</div>
            <% else %>
              <div id="live-haut-status-image"><img src="/css/images/content-bar/live/offline.jpg" alt="Offline" /></div>
              <div id="live-haut-status-texte">LIVE IS OFFLINE</div>
            <% end %>

          </div>

          <div id="live-haut-separation"></div>

          <div id="live-haut-infos">

            <div id="live-haut-infos-competition">Playday <%= @live_match.weeks_id if @live_match %></div>

            <div id="live-haut-infos-team"><%= @live_match.title if @live_match  %></div>

          </div>

        </div>

        <div id="live-ligne">
          <div id="live-ligne-left" align="left">
            <div align="left"><img src="/css/images/flags/fr.png" alt="" width="16" height="11" /> <a href="#">Millenium </a>
              <img src="/css/images/flags/gb.png" alt="" width="16" height="11" /> <a href="#">GLHF.TV </a>
              <img src="/css/images/flags/ru.png" alt="" width="16" height="11" /> <a href="#">CyberArena </a> </div>
          </div>

        </div>

      </div>


      <div id="head-sponsors" align="center">
        <table width="353" height="12" border="0" cellpadding="0" cellspacing="2" bordercolor="#000000">
          <thead>
            <tr height="11" align="center" class="month" bgcolor="#f5f5f5">
              <td height="20" colspan="5" bgcolor="#FFFFFF"><div align="left" class="ntitle2" style="margin-left:2px"></div></td>
              <td height="20" colspan="2" bgcolor="#FFFFFF" style="text-align: right;">
                <span class="ntitle2">
                  <%= link_to image_tag("/css/images/content-bar/sponsors/flecheg.gif", :alt=>"", :width=>"14", :height=>"14", :align=>"bottom"),
                    :month => (@date.beginning_of_month-1).strftime("%m"),  :year => (@date.beginning_of_month-1).strftime("%Y") %>
                  <%= @date.strftime("%B %Y")  %>
                  <%= link_to image_tag("/css/images/content-bar/sponsors/fleche.gif", :alt=>"", :width=>"14", :height=>"14", :align=>"bottom"),
                    :month => (@date.end_of_month+1).strftime("%m"),  :year => (@date.end_of_month+1).strftime("%Y") %>
                </span>
              </td>
            </tr>
          </thead>
        </table>
        <% cache("calendar_#{@date.year.to_s}_#{@date.month.to_s}") do  %>
        <div id="calendar">
          <% calendar_for Array(@matches), :year => @date.year, :month => @date.month do |calendar| %>
            <%= calendar.head('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat') %>
            <% calendar.day(:day_method => :scheduled_at) do |date, matches| %>
              <% if date.month == @date.month %>
                <% if matches.size == 0 %>
                  <%= date.day %>
                <% else %>
                  <% str = "" %>
                  <% id = 0 %>
                  <% for match in matches %>
                    <% str += match.title + "\n" %>
                    <% id = match.id %>
                  <% end %>
                  <%= link_to date.day, match_path(id), :title => str %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>


      <div id="structure">
        <div id="fullpage3">
          <% flash.each do |key, msg| %>
            <%= content_tag :div, msg, :class => ["flash_#{key}"], :id => "notice_#{key}" %>
          <% end %>
          <%= yield %>
        </div>
        <div id="right">
          <div id="advertissement">

            <div id="right-titre">
              <div id="right-titre-texte">ADVERTISEMENT</div>
            </div>
            <div id="advertissement-image"><a href="#"><img src="/css/images/header/pub/logi2.gif" alt="logitech offer for starcraft fans!" width="120" height="600" /></a></div>
          </div>
        </div>
      </div>
      <div id="footer">

        <div id="footer-menu">

          <table class="footer-menu" width="1000" height="34" border="0" cellpadding="0" cellspacing"0">
                 <tr>
              <td width="100" align="center" valign="middle" class="menu-lien"><a href="mailto:contact@sc2sl.com">CONTACT</a></td>
              <td width="770" align="center"><font color="#333333"><%= cms_snippet_content('footer') %></font></td>
              <td align="right" width="130" align="right" valign="middle" class="menu-lien"><a href="#">BACK TO THE TOP</a></td>
            </tr>
          </table>

        </div>

      </div>



    </div>
    <div>&nbsp;</div>

  </body>

</html>
